<!doctype html>
<html lang="en">

{{template "header"}}


<body>
    <div class="container text-center">
        <nav class="navbar navbar-expand-lg text-center">
            <div class="container-fluid text-center">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <p class="nav-item">Test site</p>
                    </ul>
                </div>
            </div>
        </nav>
        <a class="btn btn-outline-primary" href="login">Login</a>
    </div>
</body>

</html>